<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Js Raiz</title>
  </head>
  <body>
    <div id="app"><%- App() %></div>
    <script type="module" src="main.js"></script>
  </body>
</html>
